#musicplayer {
    background: transparent;
    /* background color of player */
    width: auto;
    /* width of the player - make it 100% if you want it to fill your container */
    padding: 10px;
    text-align: center;
    display: flex;
    /* flex-direction:column; */
    justify-content: center;
    gap: 10px;
    flex-direction: row;
}

.songtitle,
.track-info,
.now-playing {
    padding: 5px;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    font-size: 17px !important;
    /* size of controls */
    width: 100%;
}

.buttons div {
    width: 33.3%;
}

.playpause-track,
.prev-track,
.next-track {
    color: #afb8ff;
    /* color of buttons */
    font-size: 20px !important;
    /* size of buttons */
}

.volume-icon {
    font-size: 1.2em !important;
    /* size of volume icon */
    display: flex;
    align-self: center;
}

.seeking {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap:5px; */
}

.volume {
    display: flex;
    flex-direction: row;
}

#volume-vertical {
    width: 5.5em;
}

.now-playing,
.track-info {
    background-color: transparent;
    /* background color of top two boxes */
}

.track-info {
    font-size: medium;
}

.now-playing {
    font-weight: bold;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input[type=range] {

    width: 100%;
}

input[type=range]:focus {
    outline: none;
    /* removes outline around tracks when focusing */
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    /* thickness of seeking track */
    background: #afb8ff;
    /* color of seeking track */
}

input[type=range]::-moz-range-thumb {
    height: 10px;
    /* height of seeking square */
    width: 10px;
    /* width of seeking square */
    border-radius: 0px;
    /* change to 5px if you want a circle seeker */
    background: #afb8ff;
    /* color of seeker square */
    border: none;
    /* removes weird border around seeker square in firefox */
}